# gitignore file for github directory

/examples
/literature_review
/meetings
/misc_data
/plotting
/model/model_out
/model/temp

# !/model/model_in
# /model/model_in/*
# !/model/model_in/S0_testbed/
# !/model/model_in/S0_YR30_CSZ500/
