# gitignore file for github directory pyincore_notebooks

/examples
/literature_review
/meetings
/misc_data
/plotting
/model/model_out
/model/temp

!/model/model_in
/model/model_in/*
!/model/model_in/S0_StatusQuo_CSZ40_MC100/
!/model/model_in/S0_testbed/
