# gitignore file for github directory

/model/model_out
/model/temp
DetailedModelDescription.docx

# !/model/model_in
# /model/model_in/*
# !/model/model_in/S0_testbed/
# !/model/model_in/S0_YR30_CSZ500/
